<!DOCTYPE html>

<html>

<head>
    <title>View all Applications</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content1">
        {{>header}}
        <h1>COMPANY</h1>
       <table border="1" style="width: 200px;" id="company_table">
           <tr>
               <th>ID</th>
               <th>ORGANISATION NAME</th>
               <th>CATEGORY</th>
               <th>NSE STATUS</th>
               <th>RC NUMBER</th>
               <th>EMAIL</th>
               <th>DPR NUMBER</th>
               <th>TELEPHONE</th>
               <th>PHONE NUMBER</th>
               <th>LOCAL STAFF</th>
               <th>TOTAL SHARES</th>
               <th>FACILITY LOCATION</th>
               <th>FACILITY</th>
               <th>ADDRESS</th>
               <th>Photo</th>
               <th>Status</th>
               <th>WF GROUP ID</th>
               <th>FOREIGN STAFF</th>
               <th>TIN</th>
               <th>DATE OF INCORPORATION</th>
               <th>ASSIGNED SHARES</th>
               <th>CRM SC ID</th>
               <th>NOGIC UNIQUE ID</th>
           </tr>
       </table>
        <p id="message-body"></p>

       
    {{>footer}}

    <script src="/js/company.js"></script>
</body>

</html>