<header>
    <h1>{{title}}</h1>

    <a href="/">Home</a>
    <a href="/view_all_applications">View All Applications</a>
    <a href="/view_one_application">View Single application</a>
    <a href="/view_all_positions">View all positions on an Application</a>
    <a href="/view_one_position">View a position for an application</a>
</header>